#portfolio-wrapper {
  .row,
  .card {
    margin-bottom: 10px;
  }

  .card {
    border: 1px solid black;
    box-shadow: 2px 3px #1e5799;

    &.card-details {
      // min-height: 230px;
    }

    .card-body {
      padding: 0px;
      h6#no-more-games {
        margin: 10px;
      }
      &.upcoming-games-card {
        padding: 0em;
        .upcoming-game {
          text-align: center;
          border-bottom: 1px solid black;
          span {
            img {
              max-height: 55px;
              cursor: pointer;
            }

            &.startTime {
              margin: 0px 1em;
            }
          }
        }
      }
    }

    .loading-wrapper {
      text-align: center;
      padding: 20px;
    }
  }

  .row.game-data {
    .portfolio-header-title {
      font-size: 1.5em;
      font-weight: bold;

      i.fa-folder {
        color: #e7c9a9;
      }

      i.fa {
        margin-right: 10px;
      }
    }

    .portfolio-detail-wrapper {
      .money-field {
        color: green;
        font-style: italic;
        font-weight: bold;
      }

      .portfolio-header-detail {
        text-align: left;
        margin: 0px;
        margin-bottom: 10px;
        display: inline-block;
        min-width: 33.3%;

        div.detail-header {
          background-color: rgb(247, 247, 247);
          margin: 0px;
          padding-left: 1vw;
          font-weight: bold;
          text-decoration: underline;
          font-size: 0.7em;
        }

        div.detail-fact {
          font-weight: 200;
          margin: 0px;
          display: inline-block;
          padding-left: 1vw;
          position: relative;
          font-size: 1.1em;
        }
      }
    }
  }

  .row {
    .portfolio-investments {
      #emptyPortfolioTips {
        #main {
          font-size: 1.3em;
          font-weight: 500;
        }
        .secondary {
          margin-bottom: 0px;
          font-size: 0.9em;
        }
      }

      .portfolio-header-title {
        font-weight: bold;
        i.fa-money-bill-alt {
          color: green;
          margin-right: 8px;
        }

        #investmentTotalAmt {
          font-size: 0.8em;
          display: block;
          color: green;
          font-weight: normal;
        }
      }

      .table-responsive {
        padding: 0px 20px; //padding on top and botton only

        th {
          text-align: center;
        }

        #investment-records {
          td {
            line-height: 50px;
            text-align: center;
          }

          td.logoTd {
            position: relative;
            .logo {
              height: 50px;
              width: 50px;
              margin-right: 5px;
              cursor: pointer;
            }
            .pointSpread {
              position: absolute;
              top: 7px;
              right: 7px;
              line-height: 1.2em;
              padding: 2px;
              font-size: 0.9em;
              border-radius: 3px;
              font-weight: bold;

              &.underdog {
                background-color: rgb(202, 233, 199);
              }

              &.favorite {
                background-color: rgb(248, 226, 226);
              }
            }
          }
        }
      }
    }

    .card.portfolioLinks {
      text-align: center;
      font-size: 1.3em;

      a {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #portfolio-wrapper {
    .table td,
    .table th {
      padding: 0px !important;
    }

    .row.game-data {
      .portfolio-detail-wrapper {
        text-align: center;
        .portfolio-header-detail {
          text-align: center;
          width: 50%;

          div.detail-header {
            text-align: center;
          }

          div.detail-fact {
            text-align: center;
          }
        }
      }
    }

    .row {
      margin-bottom: 0px;
    }

    .card {
      margin-top: 2vh;

      .card-body {
        padding: 0px;

        &.upcoming-games-card {
          padding: 0em;
          .upcoming-game {
            border-bottom: 1px solid black;
            text-align: center;
            padding: 10px 0px;
            font-size: 0.7em;
            span {
              display: inline-block;
              img {
                max-height: 30px;
                margin: 0px 5px;
              }

              &.startTime {
                margin: 0px 3px;
              }
            }
          }
        }
      }
    }

    padding-bottom: 5em;
  }
}
