#trade-wrapper {
  .showsmall {
    display: none;
  }

  .loading-wrapper {
    text-align: center;
  }

  .card {
    .card-header {
      position: relative;
      h2 {
        font-family: "Alfa Slab One", sans-serif;
      }

      @keyframes mymove {
        0% {
          border-radius: 100px;
          right: calc(10vw);
          opacity: 0;
        }
        50% {
          border-radius: 100px;
        }
        100% {
          border-radius: 0px;
          opacity: 1;
          right: 0px;
        }
      }

      .logo {
        border-radius: 100px;
        opacity: 0;
        position: absolute;
        right: calc(100% - 75px);
        top: 0px;
        animation-timing-function: ease-out;
        animation: mymove 1.5s;
        animation-delay: 0.4s;
        animation-fill-mode: forwards;
        height: 100%;
      }
    }

    .card-body {
      #trade-info {
        margin-bottom: 5vh;
      }
    }
  }

  .tradeBTN {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.5em;
    min-width: 150px;
  }

  input[type="range"] {
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 40px;
    width: 200px;
    cursor: pointer;
    border-radius: 0;
    /* iOS */
    margin-bottom: 30px;
  }

  ::-webkit-slider-runnable-track {
    background: #ddd;
  }

  /*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */

  ::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    /* 1 */
    height: 40px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw dodgerblue;
    border: 2px solid #999;
    /* 1 */
  }

  ::-moz-range-track {
    height: 40px;
    background: #ddd;
  }

  ::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 20px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw dodgerblue;
    box-sizing: border-box;
  }

  ::-ms-fill-lower {
    background: dodgerblue;
  }

  ::-ms-thumb {
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
  }

  ::-ms-ticks-after {
    display: none;
  }

  ::-ms-ticks-before {
    display: none;
  }

  ::-ms-track {
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
  }

  ::-ms-tooltip {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  #trade-wrapper {
    input[type="range"] {
      margin-bottom: 15px;
    }
  }
}

//SMALL => sm
@media only screen and (max-width: 768px) {
  #trade-wrapper {
    .input-wrapper {
      padding: 10px 0px 10px 0px;
      margin: 15px 0px 10px 0px;

      input[type="range"] {
        display: block;
      }

      .tradeBTN {
        padding: 8px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #trade-wrapper {
    .showsmall {
      display: block;
    }

    .row {
      margin-bottom: 0px;
    }

    .card {
      margin-bottom: 2vh;
      .card-header {
        padding: 0.5em;

        h2 {
          font-size: 1.2em;
          margin: 0px;
        }

        .logo {
          display: none;
        }
      }

      .card-body {
        padding-top: 0px;

        img.logo-phone {
          margin: auto;
          height: 10vh;
          margin-bottom: 2vh;
        }

        #trade-info {
          margin-bottom: 0vh;
        }

        #top-holders {
          margin-top: 1.5em;
          text-align: center;
          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}
