#transactions {
  .loading-wrapper {
    margin: 5em;
    text-align: center;
  }

  #filter-text {
    margin: 5px 10px;
    .fa-minus-circle {
      cursor: pointer;
      color: red;
    }
  }

  .table-responsive {
    background-color: white;
    padding: 25px;
    border-radius: 20px;
    transition: all 2s ease-in;

    thead {
      font-weight: bold;
    }

    tr {
      background-color: white;
    }

    td.name,
    td.team {
      cursor: pointer;
    }

    tfoot {
      text-align: center;
      button {
        margin: 0.5em auto;
        display: block;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  #transactions {
    .showSmall {
      display: block;
      font-weight: bold;
    }
  }
}

@media (max-width: 480px) {
  #transactions {
    #filter-text {
      font-size: 0.9em;
    }

    td {
      display: block;
      text-align: center;
      font-size: 1.4em;
      border-left: 4px solid black;
    }
    tr {
      border-bottom: 2px solid black;
    }
    th {
      display: none;
    }
    .name {
      font-weight: bold;
    }
  }
}
