#landing-page {
  .main {
    margin-top: 50px;
    border-radius: 40px;
    background-color: white;
    padding: 20px 20px 60px 20px;
    margin-bottom: 40px;

    .section {
      padding: 15px 50px 0px 50px;

      .tab-content h2 {
        margin: 35px;
        font-family: "Alfa Slab One";
        text-align: center;
      }

      form {
        .submit {
          margin-top: 1.2em;
        }

        .form-group {
          position: relative;
          margin-bottom: 1.7rem;

          .form-control-placeholder {
            position: absolute;
            top: 0;
            padding: 7px 0 0 13px;
            transition: all 200ms;
            opacity: 0.5;
          }

          .form-control {
            &.error {
              border: 1px solid red;
            }
          }

          .form-control:focus + .form-control-placeholder,
          .form-control:valid + .form-control-placeholder {
            font-size: 75%;
            transform: translate3d(0, -115%, 0);
            opacity: 1;
          }
          .form-control:invalid + .form-control-placeholder {
            font-style: italic;
          }
        }

        #googleLogin {
          position: absolute;
          bottom: 8%;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

.feature {
  margin-top: 25px;
}

#newFeatures h4 {
  font-family: "Alfa Slab One";
  text-align: center;
}

#newFeatures {
  text-align: center;
  padding: 25px;
}
