#market-wrapper {
  .loading-wrapper {
    margin-top: 5em;
    text-align: center;
  }

  #all-matchups-wrapper {
    .match-up {
      margin-bottom: 30px;

      .card.match-up-card {
        border: 1px solid black;
        box-shadow: 2px 3px #1e5799;
        background-color: white;

        .card-header {
          font-size: 1.3em;
        }

        .match-up-header {
          // background: linear-gradient(to bottom, #1e5799, #326b9b);
          color: black;
          font-weight: bold;
          padding: 0px;

          .team-name-matchup-wrapper {
            text-align: center;

            .vs {
              display: inline;
              margin: 7px;
              font-size: 0.7em;
            }

            .team-name-with-img {
              display: inline;

              .team-icon {
                border-radius: 20px;
                width: 70px;
                height: 70px;
                margin: 0px 10px;
                margin-top: 10px;
              }
            }
          }
          .start-time {
            text-align: center;
            display: block;
            margin-bottom: 10px;
          }
        }

        .match-up-body {
          text-align: center;
          overflow: hidden;
          transition: max-height 1s;
          max-height: 1000px;

          &.collapsed {
            max-height: 0;
          }

          &.card-body {
            padding: 0px 30px 0px 30px;
          }

          .lock-message {
            margin-bottom: 10px;
          }

          .team-card {
            margin-bottom: 5px;
            border: 1px solid rgb(92, 92, 92);
            background-color: #ffffff;
            margin-top: 20px;

            .team-main-details {
              margin: 0px;
              &.card-title {
                padding: 10px;
                text-align: left;
                font-size: 1.3em;

                .team-name {
                  font-family: "Alfa Slab One", sans-serif;
                }

                .current-market-price {
                  float: right;
                  font-weight: bold;
                  color: green;
                }
              }
            }

            .card-body {
              padding: 0px;
            }
            .point-spread-bar {
              margin: 0px;
              padding: 5px 0px;
              background-color: rgb(243, 243, 243);
              border-top: 1px solid rgb(219, 219, 219);
              border-bottom: 1px solid rgb(219, 219, 219);

              .underdog {
                color: green;
              }

              .favorite {
                color: red;
              }
            }
            .trade-btn-wrapper {
              text-align: right;
              margin: 20px 30px;
              button {
                min-width: 70px;
              }
            }

            .card-footer {
              .seed-info {
                float: left;
              }
              .shares-outstanding {
                font-style: italic;
                float: right;
              }
            }
          }
        }

        .match-up-expander-wrapper {
          text-align: center;
          padding: 5px;
          margin-top: 3px;
          cursor: pointer;

          .fa-caret-down {
            font-size: 1.1em;
            transition: all 1s;
            transform: scale(1);
            filter: blur(1px);

            &.collapsed {
              transform: rotate(-90deg) scale(1.5);
              -ms-transform: scale(1.5);
              filter: blur(0px);
            }
          }
        }
      }
    }

    .no-games-message {
      h2 {
        font-family: "Alfa Slab One", sans-serif;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #market-wrapper {
    padding: 1em 15px 3em 15px;

    #all-matchups-wrapper {
      .match-up {
        .card.match-up-card {
          .match-up-header {
            .team-name-matchup-wrapper {
              font-size: 0.7em;
              .team-name-with-img {
                .team-icon {
                  width: 40px;
                  height: 40px;
                  margin: 0.5em;
                }
              }
            }

            .start-time {
              font-size: 0.8em;
            }
          }
          .match-up-body {
            &.card-body {
              padding: 0px 10px;
            }

            .team-card {
              .team-main-details {
                &.card-title {
                  padding: 7px;
                  font-size: 0.8em;
                }
              }

              .point-spread-bar {
                margin: 0px;
                margin-bottom: 1em;
                padding: 2px;
                font-size: 0.8em;
              }

              .card-footer {
                font-size: 0.8em;
                .seed-info {
                  margin: 0px;
                }
                .shares-outstanding {
                }
              }
            }
          }
        }
      }
      .row {
        margin-bottom: 0px;
      }

      .card {
        margin-bottom: 2vh;
      }
    }
  }
}
